.App {
  text-align: center;
}

body {
  background-color: rgb(101, 139, 139);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.meme-container {
  display: flex;
  flex-direction: row;
  border: 2px solid black;
  padding: 20px;
  box-shadow: 0 0 25px inset coral;
}

.meme-div {
  padding-right: 20px;
}

.upload {
  background-color: tomato;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: 20px;
}

.settings {
  background-color: coral;
  padding-right: 10px;
  padding-left: 10px;
}

button, input[type=submit] {
  background-color: lightgrey;
  border-color: black;
  padding: 5px;
  margin: 5px;
}

input[type=text] {
  width: 180px;
  height: 20px;
  border: 1px solid black;
  background-color: lightgray;
}

.black {
  fill: black;
}

.blue {
  fill: blue;
}

.green {
  fill: green;
}

.yellow {
  fill: yellow;
}

.white {
  fill: white;
}