.App {
  text-align: center;
}

body {
  background-color: rgb(101, 139, 139);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

button, input[type=submit] {
  background-color: lightgrey;
  border-color: black;
  padding: 5px;
  margin: 5px;
}

input[type=text] {
  width: 180px;
  height: 20px;
  border: none;
}

.meme-container {
  display: flex;
  flex-direction: row;
}

.meme-div {
  padding-right: 20px;
}

.black {
  fill: black;
}

.blue {
  fill: blue;
}

.green {
  fill: green;
}

.yellow {
  fill: yellow;
}

.white {
  fill: white;
}

.bold {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.cursive {
  font-family: cursive;
}

.sans-serif {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.serif {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.whimsy {
  font-family: fantasy;
}